/*основной цвет текста #757575;*/
/*вторичный цвет текста #212121;*/
/*акцент (логотип, hover nav, e-mail, button(background)): #2196F3;*/
/*Наша команда(background) и button (основной цвет background) в portfolio.html #F5F4FA;*/
/*логотип второй цвет #000000;*/
/*герой background, футер background: #2F303A;*/
/*e-mail и телефон в футере: rgba(255, 255, 255, 0.6);*/
/*белый h1,button #FFFFFF;*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --team-color: #f5f4fa;
  --background-color: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --light-color: #ffffff;
  --logo-color: #000000;
  --line-color: #ececec;
  --social-networks-color: #afb1b8;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  background: var(--light-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: visibility var(--duration) var(--timing-function),
    opacity var(--duration) var(--timing-function);
  overflow-y: auto;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.wrapper-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
}

.modal-window {
  position: relative;
  display: block;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: var(--light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close {
  width: 18px;
  height: 18px;
}

.close-btn-svg:hover,
.close-btn-svg:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form-field {
  position: relative;
}

.modal-form-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form-label,
.modal-comment-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

/*.modal-form-input:hover,
.modal-comment-area:hover,*/
.modal-form-input:focus,
.modal-comment-area:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  transition: transform var(--duration) var(--timing-function);
}

.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 11px;
  left: 12px;
}

.modal-comment-area {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-comment-field {
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal-comment-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
  transition: transform var(--duration) var(--timing-function);
}

.modal-policy-label {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.modal-policy-label::before {
  content: "";
  width: 16px;
  height: 15px;
  display: inline-block;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  transition: transform var(--duration) var(--timing-function);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-form-policy:checked + .modal-policy-label::before {
  background-image: url(../images/svg/icon-check.svg);
  border: none;
}

.modal-policy-link {
  color: var(--accent-color);
}

.modal-btn {
  margin: 30px 124px 0;
}

.modal-btn,
.hero-btn {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.address {
  font-style: normal;
}

.header {
  border-bottom: 1px solid var(--line-color);
}

.header .conteiner {
  display: flex;
  align-items: center;
  height: 80px;
}

.header .address {
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav-item {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-item .link,
.contacts-list-item .link {
  padding: 32px 0px;
}

.contacts-list {
  display: flex;
}

.contacts-list-item:first-child {
  margin-right: 50px;
}

.site-logo {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-half {
  color: var(--logo-color);
}

.navigation .site-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  transition: color var(--duration) var(--timing-function);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.contacts-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  transition: color var(--duration) var(--timing-function);
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--accent-color);
}

.contacts-list-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill var(--duration) var(--timing-function);
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.contacts-list-link:hover .contacts-list-icon,
.contacts-list-link:focus .contacts-list-icon {
  fill: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main_section_1/hero-bg-img.jpg);
  background-color: var(--background-color);
}

.hero .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;
  color: var(--light-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.title {
  color: var(--title-text-color);
}

.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages {
  display: flex;
  flex-wrap: wrap;
}
.advantages-list-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-list-title::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--team-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.attention .advantages-list-title::before {
  background-image: url(../images/svg/antenna.svg);
}
.punctuality .advantages-list-title::before {
  background-image: url(../images/svg/clock.svg);
}
.planning .advantages-list-title::before {
  background-image: url(../images/svg/diagram.svg);
}
.technologies .advantages-list-title::before {
  background-image: url(../images/svg/astronaut.svg);
}

.advantages-item {
  width: 270px;
  height: 251px;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list-item {
  height: 75px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.works-section-title,
.team-section-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.works-section {
  padding-bottom: 94px;
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.works-item {
  position: relative;
  display: block;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.works-item-desc {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  display: flex;
  flex-wrap: wrap;
}
.team-list-item {
  width: 270px;
  height: 428px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--light-color);
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-job {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section {
  height: 708px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-color);
}

.social-networks {
  display: flex;
  justify-content: center;
}

.social-networks-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--light-color);

  transition: background-color var(--duration) var(--timing-function);
}

.social-networks-link:hover,
.social-networks-link:focus {
  background-color: var(--accent-color);
}

.social-networks-item:not(:last-child) {
  margin-right: 10px;
}
.social-networks-svg {
  width: 20px;
  height: 20px;
  fill: var(--social-networks-color);

  transition: fill var(--duration) var(--timing-function);
}

.social-networks-link:hover .social-networks-svg,
.social-networks-link:focus .social-networks-svg {
  fill: var(--light-color);
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients-section-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-networks-color);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border var(--duration) var(--timing-function);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border: 1px solid var(--accent-color);
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-svg {
  fill: var(--social-networks-color);

  transition: fill var(--duration) var(--timing-function);
}
.ya-co {
  width: 44.27px;
  height: 49.23px;
}

.tagline-here {
  width: 40px;
  height: 52px;
}

.company {
  width: 41px;
  height: 42.6px;
}

.foster-peters {
  width: 79.66px;
  height: 42.22px;
}

.brand {
  width: 59px;
  height: 47px;
}

.tag-line {
  width: 88.48px;
  height: 45.44px;
}

.clients-list-link:hover .clients-list-svg,
.clients-list-link:focus .clients-list-svg {
  fill: var(--accent-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-selection-btn {
  height: 38px;
  padding: 6px 22px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 4px;
  background-color: var(--team-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.portfolio-selection-btn:hover,
.portfolio-selection-btn:focus {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--light-color);
  background-color: var(--accent-color);
}

.portfolio-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  display: flex;
  width: 370px;
  height: 404px;
  box-sizing: border-box;
  margin-bottom: 30px;
  background: var(--light-color);
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-item-link {
  display: block;
  box-shadow: none;
  transition: box-shadow var(--duration) var(--timing-function);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-img {
  position: relative;
  display: block;
  overflow: hidden;
}

.portfolio-item-img::after {
  content: "Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--light-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
}

.portfolio-item-link:hover .portfolio-item-img::after,
.portfolio-item-link:focus .portfolio-item-img::after {
  transform: translateY(0%);
}

.portfolio-item-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-item-title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item-desc {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.footer {
  display: flex;
  height: 252px;
  background-color: var(--background-color);
}
.footer .conteiner {
  display: flex;
}

.logo-var {
  color: var(--light-color);
}

.footer-contacts-list {
  padding: 60px 0px;
  margin-right: 70px;
}

.footer .address {
  width: 231px;
  margin-top: 20px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-list-link {
  color: var(--light-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  transition: color var(--duration) var(--timing-function);
}

.footer-list-link-contact {
  color: var(--contacts-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  transition: color var(--duration) var(--timing-function);
}
.footer-list-link:hover,
.footer-list-link:focus,
.footer-list-link-contact:hover,
.footer-list-link-contact:focus {
  color: var(--accent-color);
}

.footer-social-networks {
  padding-top: 72px;
  padding-bottom: 100px;
}

.social-networks-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.footer .social-networks-link {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--duration) var(--timing-function);
}

.footer .social-networks-svg {
  width: 20px;
  height: 20px;
  fill: var(--light-color);
}

.social-networks-link:hover,
.social-networks-link:focus {
  background-color: var(--accent-color);
}

.subscribe-section {
  padding-top: 72px;
  padding-bottom: 94px;
  margin-left: 93px;
}

.subscribe-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.footer-subscribe-form {
  display: flex;
  padding-top: 20px;
}

.subscribe-form {
  width: 358px;
  height: 50px;
  padding-left: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form:focus {
  outline: none;
}

.subscribe-btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-left: 29px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.subscribe-btn-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
